body {
	background-color: lightgrey;
	
}

h1 {
	color: black;
	text-align:center;
	font-family:strong;
	margin:50px;
	
}

p {
	color: black;
	text-align:left;
	font-family:strong;
	font-size:110%;
	
}
#p01 {
	color:black;
	text-align: center;
}
#p02 {
	color: black;
	text-align: center;
}

#div01 {
	border:1px solid black;
	font-size: 100%;
	padding:5px; 
	background-color: lightgrey;
	color: black;
	position:fixed;
	left: 0px;
	top:0;
	cursor:pointer;
	z-index: 2;
}
#div01:hover {
	background-color: grey;
}
#div02 {
	border:1px solid black;
	font-size:35px;
	padding:5px;
	background-color:lightgrey;
	position:fixed;
	left:88px;
	z-index:2;
	top:0px;
	text-align: left;
	width:100%;
	height:33px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}
.sidenav a:hover {
  color: #f1f1f1;
  margin:10px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* search bar below -------------------------------------------------*/

.dropbtn {
	color: black;
	padding: 15px;
	font-size: 10px;
	border: none;
	cursor: pointer;
	border: 1px solid black;
	background-color: lightgrey;
	height: 45px;
	font-size: 20px;
}

.dropbtn:hover {
	background-color: grey;
}

/* the search feild */
#myInput {
	box-sizing: border-box;
	background-image: url('searchicon.png');
	background-position: 15px 13px;
	background-repeat: no-repeat;
	font-size: 17px
	padding: 14px 20px 12px 45px;
	border: none;
	border-bottom: 1px solid #ddd;
	background-color: black /*search box*/;
	color: lightgrey;
}

#myInput:focus {outline: 3px solid grey; padding: 5px;}

.dropdown {
	position: fixed;
	z-index: 5;
	top:0px;
	right: 65px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: black/*#f6f6f6*/;
	min-width: 230px;
	overflow: auto;
	border: 1px solid #ddd;
	z-index: 55;
}

.dropdown-content a {
	color: lightgrey;
	font-size: 16px;
	padding: 13px 16px;
	text-decoration: none;
	display: block;
	border: 2px solid grey; /*change this to get rid of the boxes around the text in search menu*/
}

.dropdown a:hover {background-color: black; color: white; margin: 5px; transition: 0.5s;}

.show {display: block;}















[
.tooltip {
	position:relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
	visibility:hidden;
	width: 140px;
	background-color: black;
	color: white;
	text-align: left;
	border-radius: 5px;
	padding: 3px 0;
	
	position: absolute;
	z-index: 3;
	top: 30px;
	right: -25%;
	
	opacity: 0;
	transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
]